/* reset */

ul{
    list-style:none;
}
input:focus {outline:none;}

/* design layout and UI */

.container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: auto;
    width: 40vh;
}
.to-do{
    display: flex;
    border: 1px solid gold;
}
.yet{
    display: flex;
    border: 3px solid red;
}
.yet .a{
    border: 1px solid red;
}
.yet .b{
    border: 1px solid red;
}
.done-list{
    display: flex;
    border: 1px solid yellow;
}
